/venv/
.Rproj.user
.vs/GITHUB_REPOSITORY/v17/.suo
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GITHUB_REPOSITORY/project-colors.json
workspace.code-workspace
DU_MSDS/Data Science Tools 2/HW6/~$AirQualityUCI.xlsx
DU_MSDS/Data Science Tools 2/HW6/AirQualityUCI
DU_MSDS/Data Science Tools 2/HW6/homework6.ipynb
